#div1{
    width: 120px;
    height: 120px;
    background-color: aqua;
    padding: 25px;
}
#div2{
    width: 60px;
    height: 60px;
    background-color: azure;
    margin: 20px;
    padding: 10px;
}
p{
    font-size: 10px;
    
}